@font-face {
	font-family: 'EB Garamond';
	font-style: normal;
	font-weight: 400;
	src: local('EB Garamond'), local('EBGaramond'), url(/layout/fonts/EB_Garamond/EBGaramond-Regular.woff) format('woff');
}
