body
{
	background-image: url('/layout/images/background.png');
	background-repeat: repeat;
}

#wrapper
{
	width: 960px;

	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;

	font-family: 'EB Garamond', serif;
	font-size: 13pt;
}

#header
{
	background-image: url('/layout/images/header.png');
	background-size: 100% auto;
	display: inline-block;

	width: 956px;
	height: 320px;

	margin-bottom: -8px;

	border-top: 2px solid;
	border-bottom: 0px solid;
	border-left: 2px solid;
	border-right: 2px solid;

	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

	box-shadow: 0px 0px 35px 0px #000;
}

#navigation
{
	background: #F5F5DC;
	display: inline-block;

	width: 964px;

	margin-bottom: -8px;
	margin-left: -4px;

	border: 2px solid;
}

#navbar
{
	text-align: center;

	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: -42px;
	margin-right: 0px;

	list-style: none;
}

#navbar li
{
	display: inline;
}

#navbar li a
{
	color: #212121;

	display: inline-block;
	padding: 8px 15px;

	/*
	margin-top: 8px;
	margin-bottom: 8px;
	margin-left: 50px;
	margin-right: 50px;
	*/

	text-decoration: none;
	font-weight: bold;
}

#navbar li a:hover
{
	background-color: #DEB887;
}

#content
{
	background: #BEBEBE;

	padding: 30px;

	border-top: 0px solid;
	border-bottom: 2px solid;
	border-left: 2px solid;
	border-right: 2px solid;

	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;

	box-shadow: 0px 0px 35px 0px #000;

	/*line-height: 1.5;*/
}

#content .heading
{
	margin-top: 0px;
	margin-bottom: 15px;

	font-size: 36pt;
	text-align: center;
}

#content .subheading
{
	margin-top: 15px;
	margin-bottom: 0px;

	font-size: 24pt;
	text-align: left;

	text-decoration: none;
}

#content video
{
	margin-left: auto;
	margin-right: auto;

	display: block;
}

#content a
{
	color: #8B0000
}

#footer p
{
	color: #BEBEBE;

	text-align: center;
}
